python-dotenv
mistralai==1.8.1
pdf2image
pdfplumber
langchain-core
langchain-chroma
langchain-community
langchain-huggingface
sentence-transformers
langchain
chromadb
pytesseract
opencv-python
pandas
together
rapidfuzz